section.section-portafolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: absolute;
  z-index: 10;
  margin-top: 16em;

}
section.section-portafolio.initial-load div.card-proyecto {
  transition: transform 0s ease-in-out;
}

div.card-proyecto {
  width: 100%;
  max-width: 200px;
  border: 1px solid aqua;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0s ease-in-out;
  margin-bottom: 3.5em;

}

div.card-proyecto:hover {
  transform: scale(1.09);
  background-color: black;
  border-color: greenyellow;
}

div.img-container {

  overflow: hidden;

  
}
img.img-proyecto{
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: black;
  object-fit:cover;
}

div.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10%;
}
button.boton-titulo,
button.boton-codigo {
  font-size: 16px;
  text-align: center;
  background-color: black;
  color: aqua;
  padding: 0px;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: background-color 0s ease-in-out;
}

button.boton-titulo:hover,
button.boton-codigo:hover {
  background-color: greenyellow;
  color: black;
}
section.section-portafolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: absolute;
  z-index: 10;
  margin-top: 16em;

}
section.section-portafolio.initial-load div.card-proyecto {
  transition: transform 0.1s ease-in-out;
}

div.card-proyecto {
  width: 100%;
  max-width: 200px;
  border: 1px solid aqua;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
  margin-bottom: 3.5em;

}

div.card-proyecto:hover {
  transform: scale(1.09);
  background-color: black;
  border-color: greenyellow;
}

div.img-container {

  overflow: hidden;
  height: 200px;

  
}
img.img-proyecto{
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: black;
  object-fit:cover;

}

div.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10%;
}
button.boton-titulo,
button.boton-codigo {
  font-size: 16px;
  text-align: center;
  background-color: black;
  color: aqua;
  padding: 0px;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

button.boton-titulo:hover,
button.boton-codigo:hover {
  background-color: greenyellow;
  color: black;
}
