.redes-container {
  left: 50%; 
  transform: translateX(-50%); 
  position: fixed;
  z-index: 12;
  bottom: 0%;
}

.iconos-redes {
  color: aqua;
  margin-left: 15px;
}

.iconos-redes:hover {
  color: greenyellow;
}
