/* zakdev.css */

.section-bio {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  margin: 20px;
  position: absolute;
  z-index: 9;
  margin-top: 15em;
}

.bio-titulo,
.servicios-titulo {
  font-size: 1.5em;
  color: aqua;
  margin-bottom: 10px;
}
.bio-titulo:hover,
.servicios-titulo:hover {
  color: white;
}

.descripcion-bio {
  font-size: 1.2em;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
}
.descripcion-bio:hover {
  color: rgb(38, 255, 0);
}

.servicios-list {
  list-style: none;
  padding: 0;
}

.servicio-item {
  font-size: 1.2em;
  color: white; 
  margin-bottom: 20px;
  transition: color 0.3s; 
}


.servicios-list.inline {
  display: flex;
  justify-content: center;
}

.servicio-item.inline {
  margin: 0 10px;
}

.servicio-item:hover {
  color: greenyellow;
}

.servicio-item.inline:hover {
  color: greenyellow;
}



@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .servicio-item {
    
    margin-bottom: 1em;
  }
  .section-bio {
    margin-top: 15em;
    margin-left: 20em;
    margin-bottom: 10em;

  
  }
  .servicios-list{

    margin-top: 10%;
   }
   .servicios-titulo {
    margin-top: 10%;
   }
   .logo2{margin-top: 60em;
    position: absolute;
  top:0%;
    bottom: 10%;
    z-index: 10;
    margin-bottom: 2em;
    margin-left: 65%;
  }
}
