* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  list-style: none;
  outline: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
 

}

body {
  background: black;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.container-layout {
  background-color: rgb(18, 18, 19);
}
