@media screen and (min-width: 281px) and (max-width: 320px) {
  button.boton-cv {
    width: 43%;
    margin-left: 10em;
  }

  img.slide-image {
    margin-top: 1em;
  }
  .nav-z {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  .nav-z {
    display: none;
  }

  button.boton-cv {
    width: 40%;
    margin-left: 12em;
  }

  img.slide-image {
    margin-top: 1em;
  }
}

@media screen and (min-width: 361px) and (max-width: 415px) {
  .nav-z {
    display: none;
  }

  button.boton-cv {
    width: 32%;
    margin-left: 16em;
  }

  img.slide-image {
    margin-top: 2em;
  }

  section.section-portafolio {
    justify-content: space-between;
    padding: 0 4px;
  }

  .card-proyecto {
    padding: 0 2px;
  }

}

@media screen and (min-width: 416px) and (max-width: 500px) {
  .nav-z {
    display: none;
  }
  button.button-z-menu {
    margin-top: 4%;
    margin-left: 3em;
  }
  button.boton-cv {
    width: 28%;
    margin-left: 20em;
    margin-top: 2%;
  }

  img.slide-image {
    margin-top: 2em;
  }
  
}

@media screen and (min-width: 501px) and (max-width: 640px) {
  div.menu-container {
    display: none;
  }

  button.boton-cv {
    width: 22%;
    margin-left: 23.5em;
    margin-top: 2.5em;
  }

  img.slide-image {
    margin-top: 2em;
  }
  

  .nav-z {
    margin-top: -21.5em;
    margin-left: 3em;
  }
  .nav-link-z {
    font-size: 16px;
  }

  div.typed-text-container {
    font-size: 35px;
    margin-top: -1em;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  div.menu-container {
    display: none;
  }

  button.boton-cv {
    width: 18%;
    margin-left: 38em;
    margin-top: 0.5em;
  }

  .slick-slide .slide-item img.slide-image {
    width: 85%;
    margin-top: 2em;
    height: 400px;
  }
  h2.servicios-titulo,
  h2.bio-titulo {
    margin-left: 0em;
    font-size:2em;
  }

  p.descripcion-bio {
    margin-left: 0em;
    font-size: 2em;
  }
  ul.servicios-list {
    margin-left: 0em;
    font-size: 2em;
  }
  .servicio-item{
    margin-bottom: 15px;
  }
  .nav-z {
    margin-top: -22em;
    margin-left: 8em;
  }
  .nav-link-z {
    font-size: 18px;
  }

  div.typed-text-container {
    font-size: 35px;
    margin-top: -1em;
  }
  .redes-container .iconos-redes {
    width: 30px;
    height: 30px;
    animation: floatAnimation 3s ease-in-out infinite;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  div.menu-container {
    display: none;
  }


  button.boton-cv {
    width: 13%;
    margin-left: 50em;
    margin-top: 0.5em;
    height: 25px;
  }
  .text-d {
    font-size: 20px;
  }
  .icono-cv {
    font-size: 25px;
  }

  .slick-slide .slide-item img.slide-image {
    width: 85%;
    margin-top: 4em;
    height: 600px;
  }

  h2.servicios-titulo,
  h2.bio-titulo {
    margin-left: 0em;
    font-size:3em;
  }

  p.descripcion-bio {
    margin-left: 0em;
    font-size: 2.5em;
  }
  ul.servicios-list {
    margin-left: 0em;
    font-size: 2em;
  }
  

  .nav-z {
    margin-top: -22em;
    margin-left: 12em;
  }
  .nav-link-z {
    font-size: 25px;
  }

  div.typed-text-container {
    font-size: 40px;
    margin-top: -1em;
  }
  .redes-container .iconos-redes {
    width: 30px;
    height: 30px;
    animation: floatAnimation 3s ease-in-out infinite;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  div.menu-container {
    display: none;
  }


  button.boton-cv {
    width: 13%;
    margin-left: 65em;
    margin-top: 1.1em;
    height: 25px;
  }
  .text-d {
    font-size: 20px;
  }
  .icono-cv {
    font-size: 25px;
  }
  .section-portafolio {
    margin-left: 1em;
    margin-top: 10em;
  }
  .slick-slide .slide-item img.slide-image {
    width: 85%;
    margin-top: 4em;
    height: 600px;
  }

  h2.servicios-titulo,
  h2.bio-titulo {
    margin-left: 0em;
    font-size:4em;
  }

  p.descripcion-bio {
    margin-left: 0em;
    font-size: 3em;
  }
  ul.servicios-list {
    margin-left: 0em;
    font-size: 2em;
  }
  .servicio-item{
    margin-bottom: 15px;
  }

  .nav-z {
    margin-top: -22em;
    margin-left: 12em;
  }
  .nav-link-z {
    font-size: 30px;
  }

  div.typed-text-container {
    font-size: 50px;
    margin-top: -1em;
  }
  .redes-container .iconos-redes {
    width: 30px;
    height: 30px;
    animation: floatAnimation 3s ease-in-out infinite;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  div.menu-container {
    display: none;
  }


  button.boton-cv {
    width: 13%;
    margin-left: 80em;
    margin-top: 1.7em;
    height: 30px;
  }

  .section-portafolio {
    margin-left: 10em;
    margin-top: 10em;
  }
  .section-portafolio .card-proyecto .img-proyecto {
    height: 250px !important;
  }

  .slick-slide .slide-item img.slide-image {
    width: 90%;
    margin-top: 0em;
    height: 450px;
    margin-bottom: 5%;
  }
 
  h2.servicios-titulo,
  h2.bio-titulo {
    margin-left: 0em;
    font-size:3em;
  }

  p.descripcion-bio {
    margin-left: 0em;
    font-size: 2em;
  }
  ul.servicios-list {
    margin-left: 0em;
    font-size: 2em;
 
  }
 

  .nav-z {
    margin-top: -22em;
    margin-left: 22em;
  }
  .nav-link-z {
    font-size: 30px;
  }

  div.typed-text-container {
    font-size: 50px;
    margin-top: -1em;
  }
  .redes-container .iconos-redes {
    width: 30px;
    height: 30px;
    animation: floatAnimation 3s ease-in-out infinite;
  }
}
